<%- include includes/header-cliente.ejs %>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href='/views/js/fullcalendar-3.10.0/fullcalendar.min.css' rel='stylesheet' />
    <link href='/views/js/fullcalendar-3.10.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='/views/js/fullcalendar-3.10.0/lib/moment.min.js'></script>
    <script src='/views/js/fullcalendar-3.10.0/lib/jquery.min.js'></script>
    <script src='/views/js/fullcalendar-3.10.0/fullcalendar.min.js'></script>
    <script src='/views/js/fullcalendar-3.10.0/locale/pt-br.js'></script>

    <!-- CSS Alertify -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css" />
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css" />
    <!-- Semantic UI theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css" />
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    center: 'prev, title, next',
                },
                defaultView: 'agendaWeek',
                defaultDate: Date(),
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                eventClick: function(event) {
                    if(event.patientOpinion === 'true') event.patientOpinion = true
                    else event.patientOpinion = false
                    $('#modal-event #modal-eventLabel').text(event.title + ' (' + event.type + ')') 
                    $('#modal-event #start').text(event.start.format('DD/MM/YYYY - HH:mm'))    
                    $('#modal-event #end').text(event.end.format('DD/MM/YYYY - HH:mm'))                
                    $('#modal-event #contact').text(event.doctorContact)                     
                    if(event.status === 'pendente' && event.type === 'telemedicina') {
                        document.getElementById('id-attendance').href = event.URLPatient
                        $('.attendance').show()
                    } else { 
                        $('.attendance').hide()
                    }     
                    if(event.type === 'presencial') {
                        $('#modal-event #address').text(event.locationInfo.address)  
                        $('#modal-event #city').text(event.locationInfo.city) 
                        $('#modal-event #state').text(event.locationInfo.state) 
                        $('#modal-event #number').text(event.locationInfo.number) 
                        $('#modal-event #zipCode').text(event.locationInfo.zipCode) 
                        $('.addressInfo').show()
                    } else {
                        $('.addressInfo').hide()
                    }               
                    if(event.status === 'concluído' && !event.patientOpinion) {
                        document.getElementById('id-event').value = event.id
                        $(".evaluation").show()
                    } else { 
                        $(".evaluation").hide()
                    }
                    $('#modal-event').modal('show')
                    return false
                },
                events: [
                    <% if(events.length) { %> 
                        <% for(let i = 0; i < events.length; i++) { %>
                            {
                                id: '<%= events[i]._id %>',
                                title: '<%= doctors[i].name %>',
                                color: '<%= events[i].color %>',
                                start: '<%= events[i].start %>',
                                end: '<%= events[i].end %>',
                                status: '<%= events[i].status %>',
                                doctorContact: '<%= doctors[i].phone %>',
                                patientOpinion: '<%= events[i].patientInfo.patientOpinion %>',
                                type: '<%= events[i].type %>',
                                <% if(events[i].type === 'presencial') { %>
                                    locationInfo: {
                                        city: '<%= events[i].locationInfo.city %>',
                                        state: '<%= events[i].locationInfo.state %>',
                                        address: '<%= events[i].locationInfo.address %>',
                                        number: '<%= events[i].locationInfo.number %>',
                                        zipCode: '<%= events[i].locationInfo.zipCode %>'
                                    }
                                <% } else { %>
                                    URLPatient: '<%- events[i].teleMedicineInfo.URLPatient %>'
                                <% } %>
                            },
                        <% } %>
                    <% } %>
                ]
            });
        });
    </script>
    <style>

        .ad-box{

                max-width: 1115px;
        }
        .fc-toolbar.fc-header-toolbar{
    margin-bottom: 1em;
    color: #fefeff;
    padding: 20px;
        }
        .fc-scroller, .fc-day-grid-container{
           height: 560px;
        }body{
        margin: 0;
    font-family: "Soin Sans Neue";
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    color: #212529;
    text-align: left;
    background-color: #fafaff;}
        .fc-state-default {
    border: 1px solid;
    background: #ffffff;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#ffffff);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: none;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    box-shadow: none;
    border: 0;
    </style>



<div class="container ad-box cliente-horarios">
        <div class="container">
            <div class="box__panel-title">
                <h3 class="titulohorario"><strong>Calendário</strong> de horários</h3>
            </div>
    <div class="row">
      <div class="col-md-12">

    <div id='calendar'>
    </div>

    
    <div class="modal fade" id="modal-event" tabindex="-1" role="dialog" aria-labelledby="modal-eventLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="/cliente-avaliacao" method="GET">
                <input type="hidden" name="eventId" id="id-event" value="" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-eventLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> 
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <dl class="dl-horizontal">
                                    <dt>Início</dt>
                                    <dd id="start"></dd>
                                </dl>
                            </div>
                            <div class="col-6">
                                <dl class="dl-horizontal">
                                    <dt>Fim</dt>
                                    <dd id="end"></dd>
                                </dl>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <dl class="dl-horizontal">
                                    <dt>Contato</dt>
                                    <dd id="contact"></dd>
                                </dl>
                            </div>
                        </div>
                        <hr class="addressInfo">
                        <div class="row addressInfo">
                            <div class="col-12">
                                <dl class="dl-horizontal">
                                    <dt>Endereço</dt>
                                    <dd id="address"></dd>
                                </dl>
                            </div>
                            <div class="col-3">
                                <dl class="dl-horizontal">
                                    <dt>Cidade</dt>
                                    <dd id="city"></dd>
                                </dl>
                            </div>
                            <div class="col-3">
                                <dl class="dl-horizontal">
                                    <dt>Estado</dt>
                                    <dd id="state"></dd>
                                </dl>
                            </div>
                            <div class="col-3">
                                <dl class="dl-horizontal">
                                    <dt>Número</dt>
                                    <dd id="number"></dd>
                                </dl>
                            </div>
                            <div class="col-3">
                                <dl class="dl-horizontal">
                                    <dt>CEP</dt>
                                    <dd id="zipCode"></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="attendance">
                            <a href="" id="id-attendance" class="btn btn-primary">Iniciar consulta</a>
                        </div>
                        <div class="evaluation">
                            <button type="submit" class="btn btn-primary">Avaliar consulta</button>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    </div>
    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <% if(message) { %>
    <script>
        const msg = JSON.parse('<%- message %>')
        if (msg !== 'Sucesso!')
            alertify.notify(msg, 'error', 5)
        else
            alertify.notify(msg, 'success', 5)
    </script>
    <% } %>

    <%- include includes/footer.ejs %>