<%- include includes/header-medico.ejs %>

<script src="/views/js/moment-with-locales.js"></script>
<script>moment.locale('pt-br')</script>

<%
	let attendanceNow = null
	if(attendance.length) {
		for(let i = 0; i < attendance.length; i++) {
			if(attendance[i]._idEvent == event._id) {
				attendanceNow = attendance[i]
				break
			}
		}
	}
%>

<section class="box__panel">
	<div class="em-atendimento">
		<div class="container">
			<span class="io-toggler" data-io="1">
				<span class="io-options">
					<a href="/medico-horarios"><span class="schedule">Cronograma</span></a>
					<span class="attendance">Em atendimento</span>
				</span>
			</span>

			<% if(!attendanceNow) { %>
			<div class="oncount">
				<form id="form-start-attendance">
					<input type="hidden" name="eventId" value="<%= event._id %>">
					<input type="hidden" name="patientId" value="<%= patient._id %>">
					<i class="sprite-check__clock"></i>
					<div class="clock">Atendimento não iniciado</div>
					<button type="submit" class="btn btn-gradient" id="btn_start">Começar</button>
				</form>
				<script>
					$(document).ready(function () {
						$('#form-start-attendance').on('submit', function (e) {
							e.preventDefault()
							$.ajax({
								type: 'POST',
								url: '/medico-atendimento',
								datatype: 'html',
								contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
								data: $('#form-start-attendance').serialize(),
								success: function (result) {
									alertify.notify(result, 'success', 5)
									setTimeout(function () {
										window.location.reload()
									}, 500)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>
			<% } else { %>
			<div class="oncount">
				<i class="sprite-check__clock"></i>
				<div class="clock" id="time_from_now"></div>
				<!-- <a href="#finish" id="btn_finish" data-fancybox="finish">
					<div class="btn btn-red">Finalizar</div>
				</a> -->
				<!-- <div class="modal finish" id="finish">
					<div class="modal-box">
						<div class="modal-title__finish">
							<form id="form-end-attendance">
								<input type="hidden" name="eventId" value="<%= event._id %>">
								<input type="hidden" name="patientId" value="<%= patient._id %>">
								<h3>Você quer terminar?</h3>
								<p>Atendimento iniciado: <strong id="duration"></strong></p>

								<div class="consulta-medica__item">
									<figure class="atendimento__photo">
										<img alt="<%= patient.name %>"
											src="<% if(patient.profilePicture) { %>/profilePicture/<%= patient._id %><% } else { %>/views/img/hitchcock.jpg<% } %>">
									</figure>
									<div class="atendimento__paciente">
										<h3><%= patient.name %></h3>
										<span><%= event.patientInfo.patientAgreement %></span>
									</div>
								</div>
								<button type="submit" class="btn btn-red">Finalizar serviço</button>
							</form>
							<script>
								$(document).ready(function () {
									const dateNow = '<%= attendanceNow.createdAt %>'
									$("#time_from_now").html('Atendimento iniciado ' + moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
									$("#duration").html(moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
									setInterval(function () {
										$("#time_from_now").html('Atendimento iniciado ' + moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
										$("#duration").html(moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
									}, 30 * 1000) // a cada 30s

									$('#form-end-attendance').on('submit', function (e) {
										e.preventDefault()

										$.ajax({
											type: 'PATCH',
											url: '/medico-atendimento',
											datatype: 'html',
											contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
											data: $('#form-end-attendance').serialize(),
											success: function (result) {
												alertify.notify(result, 'success', 5)
												setTimeout(function () {
													window.location.href = '/atendimento/<%= attendanceNow._id %>'
												}, 500)
											},
											error: function (xhr, status, error) {
												alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
											},
										})
									})
								})
							</script>
						</div>
					</div>
				</div> -->
			</div>
			<% } %>
		</div>
	</div>

	<div class="atendimento__dados">
		<div class="container">
			<div class="atendimento__box">
				<div class="row">
					<div class="col-md-3">
						<figure class="atendimento__photo">
							<img alt="<%= patient.name %>"
								src="<% if(patient.profilePicture) { %>/profilePicture/<%= patient._id %><% } else { %>/views/img/hitchcock.jpg<% } %>">
						</figure>
						<div class="atendimento__paciente">
							<h3><%= patient.name %></h3>
							<span class="date">
								<script>document.write(moment().format('DD/MM/YYYY'))</script></span>
						</div>
					</div>
					<div class="col-md-3">
						<span class="title">Era</span>
						<span class="datas"><%= patient.dateOfBirth %></span>
					</div>
					<div class="col-md-3">
						<span class="title">Gênero</span>
						<span class="datas"><%= patient.genre %></span>
					</div>
					<div class="col-md-3">
						<span class="title">Acordo Médico</span>
						<span class="datas"><%= event.patientInfo.patientAgreement %></span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% if(attendanceNow) { %>
	<div class="consulta-medica">
		<div class="container">
			<div class="row atendimento-consulta">
				<div class="col-md-3">
					<h2>Consulta médica</h2>
				</div>
				<div class="col-md-9">
					<div class="oncount">
						<div class="duration">
							<p>Duração: <strong>00:00:00</strong></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<a href="#summary" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/resumo-icon.svg" alt="Resumo do Exame">
							<span>Resumo</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#anamnese" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/resumo-icon.svg" alt="Anamnese">
							<span>Anamnese</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#exame" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/resumo-icon.svg" alt="Exame físico">
							<span>Exame Físico</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#diagnostico" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/resumo-icon.svg" alt="Diagnóstico">
							<span>Diagnóstico</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#evolution" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/evolucao-icon.svg" alt="Evolução">
							<span>Evolução</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#orcamento" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/orcamento-icon.svg" alt="Orçamento">
							<span>Orçamento</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#exames_procedimentos" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/exames-icon.svg" alt="Evolução">
							<span>Exames e <br>Procedimentos</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#prescricoes" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/exames-icon.svg" alt="Prescrições">
							<span>Prescrições</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#atestados" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/exames-icon.svg" alt="Atestados">
							<span>Atestados</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#anexos" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/anexos-icon.svg" alt="Anexos">
							<span>Anexos</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#compartilhar" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/exames-icon.svg" alt="Compartilhar Dados">
							<span>Compartilhar <br> Dados</span>
						</div>
					</a>
				</div>
				<div class="col-md-3">
					<a href="#anexos" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/exames-icon.svg" alt="Imagens e Anexos">
							<span>Imagens e <br>Anexos</span>
						</div>
					</a>
				</div>
				<div class="col-md-12">
					<a href="#finish" id="btn_finish" data-fancybox="finish">
						<div class="btn btn-red">Finalizar atendimento</div>
					</a>
					<div class="modal finish" id="finish">
						<div class="modal-box">
							<div class="modal-title__finish">
								<form id="form-end-attendance">
									<input type="hidden" name="eventId" value="<%= event._id %>">
									<input type="hidden" name="patientId" value="<%= patient._id %>">
									<!-- <h3>Você quer terminar?</h3>
									<p>Atendimento iniciado: <strong id="duration"></strong></p> -->
									<div class="d-flex info-paciente">
										<img alt="<%= patient.name %>"
											src="<% if(patient.profilePicture) { %>/profilePicture/<%= patient._id %><% } else { %>/views/img/hitchcock.jpg<% } %>">
										<div class="d-flex flex-column">
											<h3 class="name-paciente">Nome paciente<%= patient.name %></h3>
											<span class="info-convenio">Info <%= event.patientInfo.patientAgreement %></span>
										</div>
									</div>
									<div class="tempo-de-atendimento d-flex flex-column align-items-center">
										<p>Tempo de atendimento</p>
										<strong id="duration"></strong>
									</div>
									<div class="finalizar-atendimento d-flex justify-content-between">
										<a class="btn btn-gradient" id="remarcarConsulta">Remarcar uma consulta (retorno)</a>
										<button type="submit" class="btn btn-red">Finalizar serviço</button>
									</div>
									<!-- <div class="consulta-medica__item">
										<figure class="atendimento__photo">
											<img alt="<%= patient.name %>" src="<% if(patient.profilePicture) { %>/profilePicture/<%= patient._id %><% } else { %>/views/img/hitchcock.jpg<% } %>">
										</figure>
										<div class="atendimento__paciente">
											<h3><%= patient.name %></h3>
											<span><%= event.patientInfo.patientAgreement %></span>
										</div>
									</div>
									<button type="	submit" class="btn btn-red">Finalizar serviço</button> -->
								</form>
								<script>
									$(document).ready(function () {
										const dateNow = '<%= attendanceNow.createdAt %>'
										$("#time_from_now").html('Atendimento iniciado ' + moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
										$("#duration").html(moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
										setInterval(function () {
											$("#time_from_now").html('Atendimento iniciado ' + moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
											$("#duration").html(moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
										}, 30 * 1000) // a cada 30s
										$('#form-end-attendance').on('submit', function (e) {
											e.preventDefault()
											$.ajax({
												type: 'PATCH',
												url: '/medico-atendimento',
												datatype: 'html',
												contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
												data: $('#form-end-attendance').serialize(),
												success: function (result) {
													alertify.notify(result, 'success', 5)
													setTimeout(function () {
														window.location.href = '/atendimento/<%= attendanceNow._id %>'
													}, 500)
												},
												error: function (xhr, status, error) {
													alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
												},
											})
										})
									})
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% } else { %>
	<div class="consulta-medica">
		<div class="container">
			<h2>Consulta médica</h2>
			<div class="row">
				<div class="col-md-3">
					<a href="#summary" class="" data-fancybox="atendimento">
						<div class="consulta-medica__item">
							<img src="/views/img/resumo-icon.svg" alt="Resumo do Exame">
							<span>RESUMO</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<% } %>
</section>

<section class="modals">
	<div class="modal" id="summary">
		<div class="modal-box">
			<div class="modal-title">
				<h2>Resumo do Paciente</h2>
			</div>
			<!-- <% if(!attendance.length) { %>
			<p>Paciente sem consultas anteriores</p>
			<% } else { %>
			<div class="timeline">
				<% for(let i = 0; i < attendance.length; i++) { %>
				<% if(attendance[i].type === 'presencial') { %>
				<% if(attendanceNow && attendance[i]._id != attendanceNow._id) { %>
				<% if(i % 2 == 0) { %>
				<div class="timeline-item">
					<div class="timeline-time">
						<script>document.write(moment('<%= attendance[i].createdAt %>', 'DD/MM/YYYY h:mm:ss').format('L'))</script>
					</div>
					<div class="timeline-content">
						<p><strong>Pontuário</strong></p>
						<a href="/atendimento/<%= attendance[i]._id %>">Clique pra ver</a>
					</div>
				</div>
				<% } else { %>
				<div class="timeline-item timeline-ltd">
					<div class="timeline-time">
						<script>document.write(moment('<%= attendance[i].createdAt %>', 'DD/MM/YYYY h:mm:ss').format('L'))</script>
					</div>
					<div class="timeline-content">
						<p><strong>Pontuário</strong></p>
						<a href="/atendimento/<%= attendance[i]._id %>">Clique pra ver</a>
					</div>
				</div>
				<% } %>
				<% } else { %>
				<% if(i % 2 == 0) { %>
				<div class="timeline-item">
					<div class="timeline-time">
						<script>document.write(moment('<%= attendance[i].createdAt %>', 'DD/MM/YYYY h:mm:ss').format('L'))</script>
					</div>
					<div class="timeline-content">
						<p><strong>Pontuário</strong></p>
						<a href="/atendimento/<%= attendance[i]._id %>">Clique pra ver</a>
					</div>
				</div>
				<% } else { %>
				<div class="timeline-item timeline-ltd">
					<div class="timeline-time">
						<script>document.write(moment('<%= attendance[i].createdAt %>', 'DD/MM/YYYY h:mm:ss').format('L'))</script>
					</div>
					<div class="timeline-content">
						<p><strong>Pontuário</strong></p>
						<a href="/atendimento/<%= attendance[i]._id %>">Clique pra ver</a>
					</div>
				</div>
				<% } %>
				<% } %>
				<% } %>
				<% } %>
			</div>
			<% } %> -->
			<ul class="today-list">
				<li class="today-list__item">
					<div class="content d-flex">
						<p class="data">24/06/2019</p>
						<p class="doctor">Por: <strong>Dr. Pedro Henrique</strong></p>
					</div>
					<div class="infos d-flex justify-content-between border-bottom">
						<div class="d-flex flex-column">
							<div class="desc">
								<h3 class="title">Anamnese</h3>
								<p class="title">Queixa principal e duração:</p>
								<p class="motivo">Exemplo de queixa</p>
							</div>
						</div>
						<a class="btn btn-gradient">Imprimir</a>
					</div>
					<div class="infos d-flex justify-content-between border-bottom">
						<div class="d-flex flex-column">
							<div class="desc">
								<h3 class="title">Atestado</h3>
								<p class="motivo">Atesto para os devidos fins a pedido do interessado que #nome_paciente, portador do
									documento de identidade #rg_paciente, foi submetido à consulta médica nesta data.</p>
								<p class="motivo">Em decorrência, deverá permanecer afastado de suas atividades laborativas por um
									período de _______ dias a partir desta data.</p>
							</div>
						</div>
						<a class="btn btn-gradient">Imprimir</a>
					</div>
					<div class="infos d-flex justify-content-between border-bottom">
						<div class="d-flex flex-column">
							<div class="desc">
								<h3 class="title">Exames</h3>
								<p class="motivo exames">Tomografia</p>
								<p class="motivo exames">ULTRASSOM</p>
							</div>
						</div>
						<a class="btn btn-gradient">Imprimir</a>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="modal" id="anamnese">
		<div class="modal-box">
			<div class="modal-title">
				<h2>Anamnese</h2>
			</div>
			<div class="form">
				<form id="form-anamnese">
					<input type="hidden" name="eventId" value="<%= event._id %>" />
					<input type="hidden" name="formType" value="anamnesis" />
					<div class="row">
						<div class="col-md-12">
							<textarea name="queixa" cols="30" rows="10" placeholder="Queixa principal e duração:"></textarea>
						</div>
						<div class="col-md-12">
							<textarea name="molestia" cols="30" rows="10" placeholder="História da moléstia atual:"></textarea>
						</div>
						<div class="col-md-12">
							<textarea name="investigacao" cols="30" rows="10"
								placeholder="Investigação dos diversos aparelhos:"></textarea>
						</div>
						<div class="col-md-12">
							<textarea name="medicacaoemuso" cols="30" rows="10" placeholder="Medicações em uso:"></textarea>
						</div>
						<div class="col-md-12">
							<textarea name="antecedentes" cols="30" rows="10" placeholder="Antecedentes:"></textarea>
						</div>
						<div class="col-md-12">
							<textarea name="observacoes" cols="30" rows="10" placeholder="Observações:"></textarea>
						</div>
						<div class="col-md-12">
							<input type="submit" class="btn btn-gradient" value="Salvar documento">
						</div>
					</div>
				</form>
				<script>
					$(document).ready(function () {
						$('#form-anamnese').on('submit', function (e) {
							e.preventDefault()

							$.ajax({
								type: 'PUT',
								url: '/medico-atendimento',
								datatype: 'html',
								contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
								data: $('#form-anamnese').serialize(),
								success: function (result) {
									alertify.notify(result, 'success', 5)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>

		</div>
	</div>

	<div class="modal" id="exame">
		<div class="modal-box">
			<div class="modal-title">
				<h2>Exames</h2>
			</div>
			<div class="form">
				<form id="form-physicalExam">
					<input type="hidden" name="eventId" value="<%= event._id %>" />
					<input type="hidden" name="formType" value="Exame físico" />
					<div class="row">
						<div class="col-md-12">
							<textarea name="exame-neurologico" cols="30" rows="10" placeholder="Exame neurológico:"></textarea>
						</div>
						<div class="col-md-12">
							<textarea name="exame-fisico" cols="30" rows="10" placeholder="Exame físico geral:"></textarea>
						</div>
						<div class="col-md-12">
							<textarea name="laboratoriais" cols="30" rows="10" placeholder="Laboratoriais:"></textarea>
						</div>
						<div class="col-md-12">
							<textarea name="image-exame-fisico" cols="30" rows="10" placeholder="Imagem:"></textarea>
						</div>
						<div class="col-md-12">
							<textarea name="observacoes-exame-fisico" cols="30" rows="10" placeholder="Observações:"></textarea>
						</div>
						<div class="col-md-12">
							<div class="form-radio d-flex">
								<div class="custom-control custom-radio">
									<p for="compartilhar-com-paciente">Compartilhar com o paciente</p>
									<label class="switch">
										<input type="checkbox" checked name="compartilhar-com-paciente">
										<span class="slider round"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<input type="submit" class="btn btn-gradient" value="Salvar Documento">
						</div>
					</div>
				</form>
				<script>
					$(document).ready(function () {
						$('#form-physicalExam').on('submit', function (e) {
							e.preventDefault()

							$.ajax({
								type: 'PUT',
								url: '/medico-atendimento',
								datatype: 'html',
								contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
								data: $('#form-physicalExam').serialize(),
								success: function (result) {
									alertify.notify(result, 'success', 5)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>
		</div>
	</div>

	<div class="modal" id="diagnostico">
		<div class="modal-box">
			<div class="modal-title">
				<h2>Hipótese diagnóstica</h2>
			</div>
			<div class="form">
				<form id="form-diagnosticHypothesis">
					<input type="hidden" name="eventId" value="<%= event._id %>" />
					<input type="hidden" name="formType" value="diagnosticHypothesis" />
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9">
									<input type="text" name="diagnosis" placeholder="Diagnóstico">
								</div>
								<div class="col-md-3">
									<a id="addDiagnostico" class="btn btn-gradient">Adicionar</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 row-add-diagnosticos">
							<div class="row">
								<div class="col-md-9">
									<p>FEBRE</p>
								</div>
								<div class="col-md-3">
									<a id="addDiagnostico" class="btn-red">Remover</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 row-add-diagnosticos">
							<div class="row">
								<div class="col-md-9">
									<p>VIROSE DO TIPO X</p>
								</div>
								<div class="col-md-3">
									<a id="addDiagnostico" class="btn-red">Remover</a>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<textarea name="observacoes-diagnostico" cols="30" rows="10" placeholder="Observações:"></textarea>
						</div>
						<div class="col-md-12">
							<div class="form-radio d-flex">
								<div class="custom-control custom-radio">
									<p for="compartilhar-com-paciente">Compartilhar com o paciente</p>
									<label class="switch">
										<input type="checkbox" checked name="compartilhar-com-paciente">
										<span class="slider round"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<input type="submit" class="btn btn-gradient" value="Salvar Documento">
						</div>
					</div>
				</form>
				<script>
					$(document).ready(function () {
						$('#form-diagnosticHypothesis').on('submit', function (e) {
							e.preventDefault()

							$.ajax({
								type: 'PUT',
								url: '/medico-atendimento',
								datatype: 'html',
								contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
								data: $('#form-diagnosticHypothesis').serialize(),
								success: function (result) {
									alertify.notify(result, 'success', 5)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>
		</div>
	</div>

	<div class="modal" id="evolution">
		<div class="modal-box">
			<div class="modal-title">
				<h2>Evolução</h2>
			</div>
			<div class="form">
				<form id="form-evolution">
					<input type="hidden" name="eventId" value="<%= event._id %>" />
					<input type="hidden" name="formType" value="evolucao" />
					<div class="row">
						<div class="col-md-12">
							<textarea name="evolution" id="" cols="30" rows="10" placeholder="Evolução:"></textarea>
						</div>
						<div class="col-md-12">
							<div class="form-radio d-flex">
								<div class="custom-control custom-radio">
									<p for="compartilhar-com-paciente">Compartilhar com o paciente</p>
									<label class="switch">
										<input type="checkbox" checked name="compartilhar-com-paciente">
										<span class="slider round"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<input type="submit" class="btn btn-gradient" value="Salvar Documento">
						</div>
					</div>
				</form>
				<script>
					$(document).ready(function () {
						$('#form-evolution').on('submit', function (e) {
							e.preventDefault()

							$.ajax({
								type: 'PUT',
								url: '/medico-atendimento',
								datatype: 'html',
								contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
								data: $('#form-evolution').serialize(),
								success: function (result) {
									alertify.notify(result, 'success', 5)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>
		</div>
	</div>

	<div class="modal" id="orcamento">
		<div class="modal-box">
			<div class="modal-title">
				<h2>Orçamento</h2>
			</div>
			<div class="form">
				<form id="form-budget">
					<input type="hidden" name="eventId" value="<%= event._id %>" />
					<input type="hidden" name="formType" value="budget" />
					<div class="row">
						<div class="col-md-12">
							<input type="text" name="procedure" placeholder="Indicação clínica">
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9">
									<input type="text" name="procedure" placeholder="Procedimento">
								</div>
								<div class="col-md-3">
									<input type="text" name="value" placeholder="Quantidade">
								</div>
							</div>
						</div>
						<div class="col-md-12 row-add">
							<a href="" id="addOrcamentoModal" class="btn btn-gradient btn-radius">+</a>
						</div>
						<div class="col-md-12">
							<div class="form-radio d-flex">
								<div class="custom-control custom-radio">
									<p for="compartilhar-com-paciente">Compartilhar com o paciente</p>
									<label class="switch">
										<input type="checkbox" checked name="compartilhar-com-paciente">
										<span class="slider round"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<input type="submit" class="btn btn-gradient" value="Salvar documento">
						</div>
					</div>
				</form>
				<script>
					$(document).ready(function () {
						$('#form-budget').on('submit', function (e) {
							e.preventDefault()

							$.ajax({
								type: 'PUT',
								url: '/medico-atendimento',
								datatype: 'html',
								contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
								data: $('#form-budget').serialize(),
								success: function (result) {
									alertify.notify(result, 'success', 5)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>
		</div>
	</div>

	<div class="modal" id="exames_procedimentos">
		<div class="modal-box">
			<div class="modal-title">
				<h2>Exames e Procedimentos</h2>
			</div>
			<div class="form">
				<form id="form-examsAndProcedures">
					<input type="hidden" name="eventId" value="<%= event._id %>" />
					<input type="hidden" name="formType" value="exameseprocedimentos" />
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<input type="text" name="data-exame" placeholder="Data" onfocus="(this.type='date')"
										onblur="(this.type='date')" id="date">
								</div>
								<div class="col-md-6">
									<ul class="nav nav-pills d-flex justify-content-between" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" id="pills-sadt-tab" data-toggle="pill" href="#pills-sadt" role="tab"
												aria-controls="pills-sadt" aria-selected="true">SADT</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-particular-tab" data-toggle="pill" href="#pills-particular"
												role="tab" aria-controls="pills-particular" aria-selected="true">Particular</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<input type="text" name="clinicalIndication" placeholder="Indicação clínica">
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-9">
									<input type="text" name="exams" placeholder="Exames">
								</div>
								<div class="col-md-3">
									<input type="text" name="amount" placeholder="Quantidade">
								</div>
							</div>
						</div>
						<div class="col-md-12 row-add">
							<a href="" id="addExamesEProcedimento" class="btn btn-gradient btn-radius">+</a>
						</div>
						<div class="col-md-12">
							<div class="form-radio d-flex">
								<div class="custom-control custom-radio">
									<p for="compartilhar-com-paciente">Compartilhar com o paciente</p>
									<label class="switch">
										<input type="checkbox" checked name="compartilhar-com-paciente">
										<span class="slider round"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<input type="submit" class="btn btn-gradient" value="Salvar documento">
						</div>
					</div>
				</form>
				<script>
					$(document).ready(function () {
						$('#form-examsAndProcedures').on('submit', function (e) {
							e.preventDefault()

							$.ajax({
								type: 'PUT',
								url: '/medico-atendimento',
								datatype: 'html',
								contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
								data: $('#form-examsAndProcedures').serialize(),
								success: function (result) {
									alertify.notify(result, 'success', 5)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>
		</div>
	</div>

	<div class="modal" id="prescricoes">
		<div class="modal-box">
			<div class="modal-title">
				<h2>Prescrições</h2>
			</div>
			<div class="form">
				<form id="form-prescriptions">
					<input type="hidden" name="eventId" value="<%= event._id %>" />
					<input type="hidden" name="formType" value="prescriptions" />
					<div class="row">
						<div class="col-md-12">
							<input type="text" name="data-prescricoes" placeholder="Data" onfocus="(this.type='date')"
								onblur="(this.type='date')" id="data-prescricoes">
						</div>
						<div class="col-md-12 addmedication">
							<div class="row">
								<div class="col-md-9">
									<input type="text" name="medication" placeholder="Nome da medicação">
								</div>
								<div class="col-md-3">
									<input type="text" name="amount" placeholder="Quantidade">
								</div>
							</div>
						</div>
						<div class="col-md-12 row-add">
							<a id="addMedicamentoPrescricao" class="btn btn-gradient btn-radius">+</a>
						</div>
						<div class="col-md-12">
							<div class="form-radio d-flex">
								<div class="custom-control custom-radio">
									<p for="compartilhar-com-paciente">Compartilhar com o paciente</p>
									<label class="switch">
										<input type="checkbox" checked name="compartilhar-com-paciente">
										<span class="slider round"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<input type="submit" class="btn btn-gradient" value="Salvar Documento">
						</div>
					</div>
				</form>
				<script>
					$(document).ready(function () {
						$('#form-prescriptions').on('submit', function (e) {
							e.preventDefault()

							$.ajax({
								type: 'PUT',
								url: '/medico-atendimento',
								datatype: 'html',
								contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
								data: $('#form-prescriptions').serialize(),
								success: function (result) {
									alertify.notify(result, 'success', 5)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>
		</div>
	</div>

	<div class="modal" id="atestados">
		<div class="modal-box">
			<div class="modal-title">
				<h2>Documentos e Atestados</h2>
			</div>
			<div class="form">
				<form id="form-attestations">
					<input type="hidden" name="eventId" value="<%= event._id %>" />
					<input type="hidden" name="formType" value="atestados" />
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<input type="text" name="data-documentos" placeholder="Data" onfocus="(this.type='date')"
										onblur="(this.type='date')" id="data-documentos">
								</div>
								<div class="col-md-6">
									<div class="select">
										<select name="models" id="">
											<option selected disabled>Atestado Padrão</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<textarea name="attestation" id="" cols="30" rows="10"></textarea>
						</div>
						<div class="col-md-12 row-add">
							<a id="addAtestadoModal" class="btn btn-radius btn-gradient">+</a>
						</div>
						<div class="col-md-12">
							<div class="form-radio d-flex">
								<div class="custom-control custom-radio">
									<p for="compartilhar-com-paciente">Compartilhar com o paciente</p>
									<label class="switch">
										<input type="checkbox" checked name="compartilhar-com-paciente">
										<span class="slider round"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<input type="submit" class="btn btn-gradient" value="Salvar documento">
						</div>
					</div>
			</div>
			</form>
			<script>
				$(document).ready(function () {
					$('#form-attestations').on('submit', function (e) {
						e.preventDefault()

						$.ajax({
							type: 'PUT',
							url: '/medico-atendimento',
							datatype: 'html',
							contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
							data: $('#form-attestations').serialize(),
							success: function (result) {
								alertify.notify(result, 'success', 5)
							},
							error: function (xhr, status, error) {
								alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
							},
						})
					})
				})
			</script>
		</div>
	</div>
	</div>

	<div class="modal" id="anexos">
		<div class="modal-box">
			<div class="modal-title">
				<h2>Imagens ou anexos</h2>
			</div>
			<div class="form">
				<form id="form-imagesOrAttachments">
					<input type="hidden" name="eventId" value="<%= event._id %>" />
					<div class="row">
						<div class="col-md-12">
							<div action="/upload-target" class="dropzone dz-clickable" id="file_ads">
								<div class="dz-message">ANEXAR IMAGEM DE BANNER / VIDEO</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-radio d-flex">
								<div class="custom-control custom-radio">
									<p for="compartilhar-com-paciente">Compartilhar com o paciente</p>
									<label class="switch">
										<input type="checkbox" checked name="compartilhar-com-paciente">
										<span class="slider round"></span>
									</label>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<input type="submit" class="btn btn-gradient" value="Salvar Documento">
						</div>
					</div>
				</form>
				<script>
					$(document).ready(function () {
						$('#form-imagesOrAttachments').on('submit', function (e) {
							e.preventDefault()

							$.ajax({
								type: 'POST',
								enctype: 'multipart/form-data',
								url: '/medico-atendimento-imagem',
								data: new FormData($('#form-imagesOrAttachments')[0]),
								contentType: false,
								cache: false,
								processData: false,
								success: function (result) {
									alertify.notify(result, 'success', 5)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>
		</div>
	</div>
	<div class="modal compartilhar popups" id="compartilhar">
		<div class="modal-box">
			<div class="d-flex info-paciente">
				<img alt="<%= patient.name %>"
					src="<% if(patient.profilePicture) { %>/profilePicture/<%= patient._id %><% } else { %>/views/img/hitchcock.jpg<% } %>">
				<div class="d-flex flex-column">
					<h3 class="name-paciente">Nome paciente<%= patient.name %></h3>
					<span class="info-convenio">Info <%= event.patientInfo.patientAgreement %></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 d-flex flex-column align-items-center">
					<p class="indice">Idade</p>
					<p class="info idade">25 anos</p>
				</div>
				<div class="col-md-6 d-flex flex-column align-items-center">
					<p class="indice">Atendimento</p>
					<p class="info consulta">Primeira consulta</p>
				</div>
				<div class="col-md-3 d-flex flex-column align-items-center">
					<p class="indice">Horário</p>
					<p class="info horario">25 anos</p>
				</div>
			</div>
			<form action="" class="form">
				<div class="row">
					<div class="col-md-12">
						<input type="text" name="nome-medico" placeholder="Nome do Médico">
					</div>
					<div class="col-md-6">
						<button class="btn btn-gradient">Compartilhar prontuário</button>
					</div>
					<div class="col-md-6">
						<button class="btn btn-red">Cancelar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="modal prontuario" id="prontuario">
		<div class="modal-box">
			<div class="modal-title__finish">
				<form id="form-end-attendance">
					<input type="hidden" name="eventId" value="<%= event._id %>">
					<input type="hidden" name="patientId" value="<%= patient._id %>">
					<div class="d-flex info-paciente">
						<img alt="<%= patient.name %>"
							src="<% if(patient.profilePicture) { %>/profilePicture/<%= patient._id %><% } else { %>/views/img/hitchcock.jpg<% } %>">
						<div class="d-flex flex-column">
							<h3 class="name-paciente">Nome paciente<%= patient.name %></h3>
							<span class="info-paciente">Info <%= event.patientInfo.patientAgreement %></span>
						</div>
					</div>
					<div class="tempo-de-atendimento d-flex flex-column align-items-center">
						<p>Tempo de atendimento</p>
						<strong id="duration"></strong>
					</div>
					<div class="finalizar-atendimento d-flex justify-content-between">
						<a class="btn btn-gradient" href="/medico-horarios" id="remarcarConsulta">Remarcar uma consulta (retorno)</a>
						<button type="submit" class="btn btn-red">Finalizar serviço</button>
					</div>
				</form>
				<script>
					$(document).ready(function () {
						const dateNow = '<%= attendanceNow.createdAt %>'
						$("#time_from_now").html('Atendimento iniciado ' + moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
						$("#duration").html(moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
						setInterval(function () {
							$("#time_from_now").html('Atendimento iniciado ' + moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
							$("#duration").html(moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
						}, 30 * 1000) // a cada 30s
						$('#form-end-attendance').on('submit', function (e) {
							e.preventDefault()
							$.ajax({
								type: 'PATCH',
								url: '/medico-atendimento',
								datatype: 'html',
								contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
								data: $('#form-end-attendance').serialize(),
								success: function (result) {
									alertify.notify(result, 'success', 5)
									setTimeout(function () {
										window.location.href = '/atendimento/<%= attendanceNow._id %>'
									}, 500)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>
		</div>
	</div>

	<div class="modal finish compartilharprontuario " id="compartilharprontuario">
		<div class="modal-box">
			<div class="modal-title__finish">
				<form id="form-end-attendance">
					<input type="hidden" name="eventId" value="<%= event._id %>">
					<input type="hidden" name="patientId" value="<%= patient._id %>">
					<!-- <h3>Você quer terminar?</h3>
							<p>Atendimento iniciado: <strong id="duration"></strong></p> -->
					<div class="d-flex info-paciente">
						<img alt="<%= patient.name %>"
							src="<% if(patient.profilePicture) { %>/profilePicture/<%= patient._id %><% } else { %>/views/img/hitchcock.jpg<% } %>">
						<div class="d-flex flex-column">
							<h3 class="name-paciente">Compartilhar prontuário</h3>
							<span class="info-convenio">Info <%= event.patientInfo.patientAgreement %></span>
						</div>
					</div>
					<div class="tempo-de-atendimento d-flex flex-column align-items-center">
						<p>Tempo de atendimento</p>
						<strong id="duration"></strong>
					</div>
					<div class="finalizar-atendimento d-flex justify-content-between">
						<a class="btn btn-gradient" id="remarcarConsulta">Remarcar uma consulta (retorno)</a>
						<button type="submit" class="btn btn-red">Encerrar</button>
					</div>
					<!-- <div class="consulta-medica__item">
								<figure class="atendimento__photo">
									<img alt="<%= patient.name %>" src="<% if(patient.profilePicture) { %>/profilePicture/<%= patient._id %><% } else { %>/views/img/hitchcock.jpg<% } %>">
								</figure>
								<div class="atendimento__paciente">
									<h3><%= patient.name %></h3>
									<span><%= event.patientInfo.patientAgreement %></span>
								</div>
							</div>
							<button type="	submit" class="btn btn-red">Finalizar serviço</button> -->
				</form>
				<script>
					$(document).ready(function () {
						const dateNow = '<%= attendanceNow.createdAt %>'
						$("#time_from_now").html('Atendimento iniciado ' + moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
						$("#duration").html(moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
						setInterval(function () {
							$("#time_from_now").html('Atendimento iniciado ' + moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
							$("#duration").html(moment(moment(dateNow, 'DD/MM/YYYY - h:mm:ss').format('LTS'), 'LTS').fromNow())
						}, 30 * 1000) // a cada 30s
						$('#form-end-attendance').on('submit', function (e) {
							e.preventDefault()
							$.ajax({
								type: 'PATCH',
								url: '/medico-atendimento',
								datatype: 'html',
								contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
								data: $('#form-end-attendance').serialize(),
								success: function (result) {
									alertify.notify(result, 'success', 5)
									setTimeout(function () {
										window.location.href = '/atendimento/<%= attendanceNow._id %>'
									}, 500)
								},
								error: function (xhr, status, error) {
									alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
								},
							})
						})
					})
				</script>
			</div>
		</div>
	</div>

			
	<div class="modal finish prontuario popups">
			<div class="d-flex info-paciente">
				<img alt="<%= patient.name %>"
					src="<% if(patient.profilePicture) { %>/profilePicture/<%= patient._id %><% } else { %>/views/img/hitchcock.jpg<% } %>">
				<div class="d-flex flex-column">
					<h3 class="name-paciente">Nome paciente<%= patient.name %></h3>
					<span class="info-convenio">Info <%= event.patientInfo.patientAgreement %></span>
				</div>
			</div>
			<div class="row tags">
				<div class="col-md-3 d-flex flex-column align-items-center">
					<p class="indice">Idade</p>
					<p class="info idade">25 anos</p>
				</div>
				<div class="col-md-6 d-flex flex-column align-items-center">
					<p class="indice">Atendimento</p>
					<p class="info consulta">Primeira consulta</p>
				</div>
				<div class="col-md-3 d-flex flex-column align-items-center">
					<p class="indice">Horário</p>
					<p class="info horario">25 anos</p>
				</div>
				<div class="col-md-12 content">
					<h3>Tags do paciente</h3>
					<div class="tags-item">
						<span>NÃO FUMANTE</span>
						<span>HIPERTENSÃO</span>
						<span>65 KG</span>
						<span>CONSOME ÁLCOOL</span>
						<span>1,70 METROS</span>
						<span>DIABÉTICO</span>
						<span>SANGUE B+</span>
						<span>21 ANOS</span>
					</div>
				</div>
			</div>
			<div class="row ficha">
				<div class="col-md-12">
					<h3>Medicações</h3>
					<div class="row">
						<div class="col-md-4">
							<div class="content">
								<div class="d-flex img">
									<span class="border"> <img src="/views/img/icone-medicamento.svg" alt="Medicamento"></span>
									<p class="data">17 nov, 2018</p>
								</div>
								<p class="title">Paracetamol</p>
								<p class="desc">50ml</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="content">
								<div class="d-flex img">
									<span class="border"> <img src="/views/img/icone-medicamento.svg" alt="Medicamento"></span>
									<p class="data">17 nov, 2018</p>
								</div>
								<p class="title">Paracetamol</p>
								<p class="desc">50ml</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="content">
								<div class="d-flex img">
									<span class="border"> <img src="/views/img/icone-medicamento.svg" alt="Medicamento"></span>
									<p class="data">17 nov, 2018</p>
								</div>
								<p class="title">Paracetamol</p>
								<p class="desc">50ml</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<h3>Exames</h3>
					<div class="row">
						<div class="col-md-4">
							<div class="content">
								<div class="d-flex img">
									<span class="border"> <img src="/views/img/icone-exames.svg" alt="Exames"></span>
									<p class="data">17 nov, 2018</p>
								</div>
								<p class="title">Raio X</p>
								<p class="desc">Dr. Pedro Henrique</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="content">
								<div class="d-flex img">
									<span class="border"> <img src="/views/img/icone-exames.svg" alt="Exames"></span>
									<p class="data">17 nov, 2018</p>
								</div>
								<p class="title">Radiografia</p>
								<p class="desc">Dr. Pedro Henrique</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="content">
								<div class="d-flex img">
									<span class="border"> <img src="/views/img/icone-exames.svg" alt="Exames"></span>
									<p class="data">17 nov, 2018</p>
								</div>
								<p class="title">Sangue</p>
								<p class="desc">Dr. Pedro Henrique</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<h3>Consultas</h3>
					<div class="row">
						<div class="col-md-4">
							<div class="content">
								<div class="d-flex img">
									<span class="border"> <img src="/views/img/icone-exames.svg" alt="Consultas"></span>
									<p class="data">17 nov, 2018</p>
								</div>
								<p class="title">Cardiologia</p>
								<p class="desc">Dr. Pedro Henrique</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="content">
								<div class="d-flex img">
									<span class="border"> <img src="/views/img/icone-exames.svg" alt="Consultas"></span>
									<p class="data">17 nov, 2018</p>
								</div>
								<p class="title">Neurologista</p>
								<p class="desc">Dr. Pedro Henrique</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="content">
								<div class="d-flex img">
									<span class="border"> <img src="/views/img/icone-exames.svg" alt="Consutas"></span>
									<p class="data">17 nov, 2018</p>
								</div>
								<p class="title">Dermatologia</p>
								<p class="desc">Dr. Pedro Henrique</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<form action="" class="form">
				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-gradient" type="submit">EDITAR</button>
					</div>
					<div class="col-md-6">
						<a class="btn btn-red">CANCELAR</a>
					</div>
				</div>
			</form>
		</div>
</section>

<%- include includes/footer.ejs %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>